@-webkit-keyframes clickit{
    0% {background-color: white;}
    100% {background-color: transparent;}
}

.clickit{
    animation: clickit 1s 1;
    -webkit-animation: clickit 1s 1;
}

@-webkit-keyframes rotate{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.rotate{

    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webkit-animation: rotate 2s infinite linear;
    animation: rotate 1s infinite linear;
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
