#menu-scene .menu-header{
    height: 93%;
    margin: 5%;
}

#menu-scene .tower-select{
    
    height: 43%;
    border: 4px solid white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    opacity: 0;
    bottom: 15%;
    right: 5%;
    left: 5%;
    z-index: 20;
}

#menu-scene .background{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#menu-scene .menu-tower-row{
    
    z-index: 15;
    position: relative;
    height: 34%;
}

#menu-scene .menu-puzzle-tile{
    
    width: 25%;
    height: 34%;
    display: inline-block;
}

#menu-scene .menu-puzzle-tile.even{
    
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#AAB+1,000000+100 */
    background: #AAC; /* Old browsers */
    background: -moz-linear-gradient(top,  #AAC 1%, #779 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#AAC), color-stop(100%,#779)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #AAC 1%,#779 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #AAC 1%,#779 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #AAC 1%,#779 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #AAC 1%,#779 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAC', endColorstr='#779',GradientType=0 ); /* IE6-9 */
}

#menu-scene .menu-puzzle-tile.odd{
    
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#BBD+1,000000+100 */
    background: #BBD; /* Old browsers */
    background: -moz-linear-gradient(top,  #BBD 1%, #88A 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#BBD), color-stop(100%,#88A)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #BBD 1%,#88A 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #BBD 1%,#88A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #BBD 1%,#88A 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #BBD 1%,#88A 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BBD', endColorstr='#88A',GradientType=0 ); /* IE6-9 */
}

#menu-scene .menu-tower-row{
    
    font-family: 'Makhina';
    font-size: 1.7em;
    padding: 1.1em 0.6em;
    color: white;
    cursor: pointer;
    
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

#menu-scene .menu-tower-row .pct{
    float: right;
}

#menu-scene .menu-tower-row.fun{
    
  text-shadow:
   -1px -1px 0 #00F,  
    1px -1px 0 #00F,
   -1px  1px 0 #00F,
    1px  1px 0 #00F;
}

#menu-scene .menu-tower-row.advanced{
    
  text-shadow:
   -1px -1px 0 #AA0,  
    1px -1px 0 #AA0,
   -1px  1px 0 #AA0,
    1px  1px 0 #AA0;
}

#menu-scene .menu-tower-row.dx{
    
  text-shadow:
   -1px -1px 0 #F00,  
    1px -1px 0 #F00,
   -1px  1px 0 #F00,
    1px  1px 0 #F00;
}

#menu-scene .menu-tower-row.beginner:hover,
#menu-scene .menu-tower-row.beginner.clicked{
    
    color: #88F;
}

#menu-scene .menu-tower-row.advanced:hover,
#menu-scene .menu-tower-row.advanced.clicked{
    
    color: #FF0;
}

#menu-scene .menu-tower-row.dx:hover,
#menu-scene .menu-tower-row.dx.clicked{
    
    color: #F88;
}

#menu-scene .p polygon{
    stroke: white;
    stroke-width: 10px;
}

#menu-scene .p text{
    fill: white;
    font-family: 'Makhina';
    font-size: 225px;
}

#menu-scene .uzzlo{
    fill: white;
    font-family: 'Chunk';
    font-size: 150px;
    stroke: black;
    stroke-width: 3px;
    letter-spacing: -78px;
}

#menu-scene #dx-logo{
    stroke-width: 14px;
    fill: transparent;
}

#menu-scene #dx-logo .l1{
    stroke: red;
}

#menu-scene #dx-logo .l2{
    stroke-width: 10px;
    stroke: white;
}

#menu-scene #dx-logo .l3{
    stroke: red;
}

#menu-scene #dx-logo .l4{
    stroke: red;
}

#menu-scene #dx-logo .l5{
    stroke: white;
}

#menu-scene #dx-logo .l6{
    stroke: red;
}

#menu-scene .menu-bg{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.9;
}

#menu-scene .puzzle-tile{
    width: 8%;
    height: 8%;
}

#menu-scene .puzzle-text text{
    fill: white;
}