#menu-scene .menu-header{
    height: 96%;
    margin: 2%;
}

#menu-scene .tower-select{

    height: 43%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: absolute;
    opacity: 0;
    bottom: 8%;
    right: 5%;
    left: 5%;
    z-index: 20;
}

#menu-scene .background{

    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#menu-scene .menu-tower-row{

    z-index: 15;
    position: relative;
    height: 34%;
}

#menu-scene .menu-tower-row .locked{

    padding: 1.1em 0.6em;
    text-align: center;
    opacity: 0.5;
    cursor: default;
}

#menu-scene .menu-puzzle-tile{

    width: 25%;
    height: 34%;
    display: inline-block;
}

#menu-scene .menu-puzzle-tile.even{
    background-color: rgba(171, 174, 195, 0.5);
}

#menu-scene .menu-puzzle-tile.odd{
    background-color: rgba(134, 134, 156, 0.5);
}

#menu-scene .menu-tower-row{

    font-family: 'Play';
    font-size: 1.7em;
    color: white;
    font-weight: bold;
}
#menu-scene .menu-tower-row span{

    cursor: pointer;
}

#menu-scene .menu-tower-row .unlocked{

    padding: 1.1em 0.6em;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
    cursor: pointer;

    background-color: rgba(128,128,128,0.5);
}

#menu-scene .menu-tower-row .right{
    float: right;
    color: white;
}

#menu-scene .menu-tower-row.fun{

  text-shadow:
   -1px -1px 0 #00F,
    1px -1px 0 #00F,
   -1px  1px 0 #00F,
    1px  1px 0 #00F;
}

#menu-scene .menu-tower-row.advanced{

  text-shadow:
   -1px -1px 0 #882,
    1px -1px 0 #882,
   -1px  1px 0 #882,
    1px  1px 0 #882;
}

#menu-scene .menu-tower-row.dx{

  text-shadow:
   -1px -1px 0 #F00,
    1px -1px 0 #F00,
   -1px  1px 0 #F00,
    1px  1px 0 #F00;
}

#menu-scene .menu-tower-row[allclear="true"] .right{

    color: #CFC;
}

#menu-scene .menu-tower-row.fun:hover .unlocked,
#menu-scene .menu-tower-row.fun.clicked .unlocked{

    background-color: #44F;
}

#menu-scene .menu-tower-row.advanced:hover .unlocked,
#menu-scene .menu-tower-row.advanced.clicked .unlocked{

        background-color: #DD2;
}

#menu-scene .menu-tower-row.dx:hover .unlocked,
#menu-scene .menu-tower-row.dx.clicked .unlocked{

        background-color: #F22;
}

#menu-scene .p polygon{
    stroke: white;
    stroke-width: 10px;
}

#menu-scene .p text{
    fill: white;
    font-family: 'Play';
    font-size: 225px;
    font-weight: bold;
}

#menu-scene .uzzlo{
    fill: white;
    font-family: 'Patua One';
    font-size: 150px;
    stroke: black;
    stroke-width: 3px;
    letter-spacing: -78px;
}

#menu-scene #dx-logo{
    stroke-width: 14px;
    fill: transparent;
}

#menu-scene #dx-logo .l1{
    stroke: red;
}

#menu-scene #dx-logo .l2{
    stroke-width: 10px;
    stroke: white;
}

#menu-scene #dx-logo .l3{
    stroke: red;
}

#menu-scene #dx-logo .l4{
    stroke: red;
}

#menu-scene #dx-logo .l5{
    stroke: white;
}

#menu-scene #dx-logo .l6{
    stroke: red;
}

#menu-scene .menu-bg .bg{

    border: none;
}

#menu-scene .puzzle-tile{
    width: 8%;
    height: 8%;
}

#menu-scene .puzzle-tile .bg{
    stroke: none;
}

#menu-scene .puzzle-text text{
    fill: white;
}

#menu-scene .total-score{

    position: absolute;
    bottom: 1%;
    right: 2%;
    font-family: 'Play';
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    font-weight: bold;

    text-shadow:
    -1px -1px 0 #090,
    1px -1px 0 #090,
    -1px  1px 0 #090,
    1px  1px 0 #090;
}

#menu-scene .total-score i{

    color: #AFA;
}

#menu-scene .menu-tower-row[locked="false"] .locked{

    display: none;
}

#menu-scene .menu-tower-row[locked="true"] .unlocked{

    display: none;
}
