/* ICE & LIGHTNING */
.puzzle-tile[tile-type='ice'] .bg,
.puzzle-tile[tile-type='lightning'] .bg{

    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.puzzle-tile[tile-type='ice'][ready='1']:hover .bg{
    background-color: rgba(185, 195, 255, 0.5);
}

.puzzle-tile[tile-type='lightning'][ready='1']:hover .bg{
    background-color: rgba(255, 249, 142, 0.5);
}

.puzzle-tile[tile-type='ice'][ready='1'],
.puzzle-tile[tile-type='lightning'][ready='1'] {

    cursor: pointer;
}

.puzzle-tile[tile-type='ice'] .arrow-in{

    /*fill: url(#grad_blue);*/
    -webkit-transition: fill 0.25s;
    transition: fill 0.25s;
}

.puzzle-tile[tile-type='ice'] .arrow-out{

    stroke-width: 4;
    stroke: black;
    fill: rgba(34, 34, 34, 0.5);
}

.puzzle-tile[tile-type='lightning'] .arrow-in{

        /*fill: url(#grad_yellow);*/
    -webkit-transition: fill 0.25s;
    transition: fill 0.25s;
}

.puzzle-tile[tile-type='lightning'] .arrow-out{

    stroke-width: 4;
    stroke: black;
    fill: rgba(34, 34, 34, 0.5);
}

.puzzle-tile[tile-type='lightning'][ready='0'] .arrow-in,
.puzzle-tile[tile-type='ice'][ready='0'] .arrow-in{

    fill: transparent;
}

/* DIAMONDS & BOMBS */

.icon text {

    font-family: 'Play';
    text-transform: uppercase;
    stroke: rgba(0, 0, 0, 0.4);
    stroke-width: 5px;
    font-weight: bold;
}

.icon .diamond-icon text,
.icon .bomb-icon text{

        fill: white;
}

.icon .diamond-icon polygon {

    stroke: white;
    stroke-width: 1px;
}

/* BLOCKS */

.icon .wall-icon polygon{

    fill: black;
    stroke: black;
    stroke-width: 2px;
}

.icon .block-icon polygon {

    stroke: rgba(255, 255, 255, 0.6);
    stroke-width: 1px;
}

/* SHIFTERS */

.icon .shifter-icon polygon{

    stroke: white;
    stroke-width: 10px;
}

/* MIRRORS */

.icon .mirror-icon polygon {

    /*fill: url('#grad_mirror');*/
    stroke: #444;
    stroke-width: 3px;
}

/* TELEPORTERS */

.icon .teleporter-icon .outer{

    stroke: black;
    stroke-width: 5px;
}

.icon .teleporter-icon .inner{

    stroke-width: 3px;
}

@-webkit-keyframes tele{
    0% {opacity: 0.5}
    50% {opacity: 1}
    100% {opacity: 0.5}
}
@-moz-keyframes tele{
    0% {opacity: 0.5}
    50% {opacity: 1}
    100% {opacity: 0.5}
}
@-o-keyframes tele{
    0% {opacity: 0.5}
    50% {opacity: 1}
    100% {opacity: 0.5}
}
@keyframes tele{
    0% {opacity: 0.5}
    50% {opacity: 1}
    100% {opacity: 0.5}
}

.icon .teleporter-icon[active="true"] .inner{

    -webkit-animation: tele 2s infinite;
    -moz-animation:    tele 2s infinite;
    -o-animation:      tele 2s infinite;
    animation:         tele 2s infinite;
}

.icon .teleporter-icon[teleporter-index="1"] .inner{

    stroke: #060;
}

.icon .teleporter-icon[teleporter-index="1"][active="true"] .inner{

    stroke: #0F0;
}

.icon .teleporter-icon[teleporter-index="1"][active="true"] .outer{

    stroke: #0F0;
}

.icon .teleporter-icon[teleporter-index="2"] .inner{

    stroke: #840;
}

.icon .teleporter-icon[teleporter-index="2"][active="true"] .inner{

    stroke: #F80;
}

.icon .teleporter-icon[teleporter-index="2"][active="true"] .outer{

    stroke: #F80;
}

.icon .teleporter-icon[teleporter-index="3"] .inner{

    stroke: #808;
}

.icon .teleporter-icon[teleporter-index="3"][active="true"] .inner{

    stroke: #F0F;
}

.icon .teleporter-icon[teleporter-index="3"][active="true"] .outer{

    stroke: #F0F;
}

.icon .teleporter-icon[teleporter-index="4"] .inner{

    stroke: #488;
}

.icon .teleporter-icon[teleporter-index="4"][active="true"] .inner{

    stroke: #8FF;
}

.icon .teleporter-icon[teleporter-index="4"][active="true"] .outer{

    stroke: #8FF;
}


/* KEY/DOORS */
.icon .key-icon path{

    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 15px;
}

.icon .door-icon path{

    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 35px;
}
