/* ICE & LIGHTNING */
.puzzle-tile[tile-type='ice'] .bg,
.puzzle-tile[tile-type='lightning'] .bg{

    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.puzzle-tile[tile-type='ice'][ready='1']:hover .bg{
    background-color: rgba(185, 195, 255, 0.5);
}

.puzzle-tile[tile-type='lightning'][ready='1']:hover .bg{
    background-color: rgba(255, 249, 142, 0.5);
}

.puzzle-tile[tile-type='ice'][ready='1'],
.puzzle-tile[tile-type='lightning'][ready='1'] {

    cursor: pointer;
}

.puzzle-tile[tile-type='ice'] .arrow-in{

    fill: url(#grad_blue);
    -webkit-transition: fill 0.25s;
    transition: fill 0.25s;
}

.puzzle-tile[tile-type='ice'] .arrow-out{

    stroke-width: 4;
    stroke: black;
    fill: rgba(34, 34, 34, 0.5);
}

.puzzle-tile[tile-type='lightning'] .arrow-in{

        fill: url(#grad_yellow);
    -webkit-transition: fill 0.25s;
    transition: fill 0.25s;
}

.puzzle-tile[tile-type='lightning'] .arrow-out{

    stroke-width: 4;
    stroke: black;
    fill: rgba(34, 34, 34, 0.5);
}

.puzzle-tile[tile-type='lightning'][ready='0'] .arrow-in,
.puzzle-tile[tile-type='ice'][ready='0'] .arrow-in{

    fill: transparent;
}

/* DIAMONDS & BOMBS */

.icon text {

    fill: white;
    font-family: 'Play';
    text-transform: uppercase;
    stroke: rgba(0, 0, 0, 0.4);
    stroke-width: 5px;
    font-weight: bold;
}

.icon .diamond-icon[inverted='true'] polygon{

    stroke: white;
    stroke-width: 8px;
}

.icon .diamond-icon[color='normal'] polygon,
.icon .block-icon[color='normal'] polygon {

    fill: #000;
    fill: url(#grad_black);
}

.icon .diamond-icon[color='blue'] polygon,
.icon .block-icon[color='blue'] polygon,
.icon .bomb-icon[color='blue'] path {

    fill: #66B;
    fill: url(#grad_blue);
}

.icon .diamond-icon[color='red'] polygon,
.icon .block-icon[color='red'] polygon,
.icon .bomb-icon[color='red'] path  {

    fill: #B66;
    fill: url(#grad_red);
}

.icon .diamond-icon[color='yellow'] polygon,
.icon .block-icon[color='yellow'] polygon,
.icon .bomb-icon[color='yellow'] path  {

    fill: #CC6;
    fill: url(#grad_yellow);
}

.icon .block-icon[inverted='true'] polygon{

    stroke-width: 10px;
}

.icon .diamond-icon[color='blue'][inverted='true'] polygon,
.icon .block-icon[color='blue'][inverted='true'] polygon{

    fill: white;
    stroke: url(#grad_blue);
}

.icon .diamond-icon[color='red'][inverted='true'] polygon,
.icon .block-icon[color='red'][inverted='true'] polygon{

    fill: white;
    stroke: url(#grad_red);
}

.icon .diamond-icon[color='yellow'][inverted='true'] polygon,
.icon .block-icon[color='yellow'][inverted='true'] polygon{

    fill: white;
    stroke: url(#grad_yellow);
}

.icon .diamond-icon[color='blue'][inverted='true'] text{

    stroke-width: 2px;
    fill: url(#grad_blue);
}

.icon .diamond-icon[color='red'][inverted='true'] text{

    stroke-width: 2px;
    fill: url(#grad_red);
}

.icon .diamond-icon[color='yellow'][inverted='true'] text{

    stroke-width: 2px;
    fill: url(#grad_yellow);
}

/* BLOCKS */

.icon .wall-icon polygon{
    fill: black;
    stroke: black;
    stroke-width: 2px;
}

.icon .block-icon polygon {

    stroke: white;
}

/* SHIFTERS */

.icon .shifter-icon polygon{

    stroke: white;
    stroke-width: 10px;
}

/* MIRRORS */

.icon .mirror-icon polygon {

    fill: url('#grad_mirror');
    stroke: #444;
    stroke-width: 3px;
}

/* TELEPORTERS */

.icon[tile-type='teleporter'] .spiral{
    stroke-width: 10px;
    stroke: white;
    visibility: hidden;
}

.icon[tile-type='teleporter'].active .spiral{

    visibility: visible;
}

.icon[tile-type='teleporter'] circle{
    stroke-width: 10px;
}

.icon[tile-type='teleporter'] text{
    font-family: cursive;
}

.icon[tile-type='teleporter'] .spinner{

    stroke-width: 7px;
}

.icon[tile-type='teleporter'][tile-subtype='t0'] circle{
    fill: red;
    stroke: rgb(136, 21, 21);
}


.icon[tile-type='teleporter'][tile-subtype='t1'] circle{
    fill: rgb(80, 80, 238);
    stroke: rgb(51, 51, 105);
}


.icon[tile-type='teleporter'][tile-subtype='t2'] circle{
    fill: rgb(111, 192, 111);
    stroke: rgb(62, 116, 62);
}


.icon[tile-type='teleporter'][tile-subtype='t3'] circle{
    fill: rgb(211, 211, 108);
    stroke: rgb(87, 90, 23);
}

.icon[tile-type='teleporter'][tile-subtype='t0'] .spinner{
    stroke: rgb(196, 16, 16);
}


.icon[tile-type='teleporter'][tile-subtype='t1'] .spinner{
    stroke: rgb(45, 45, 231);
}


.icon[tile-type='teleporter'][tile-subtype='t2'] .spinner{
    stroke: rgb(59, 148, 59);
}


.icon[tile-type='teleporter'][tile-subtype='t3'] .spinner{
    stroke: rgb(143, 148, 35);
}
