
/* LAYOUT */

#width-setter{
   height: 100%;
    position: relative;
    margin: 0 auto;
}

.popup{
    
    position: absolute;
    z-index: 1000;
    top: 40%;
    /* bottom: 10em; */
    left: 2%;
    right: 2%;
    background-color: white;
    text-align: center;
    border: 1px solid #CCC;
    height: 11em;
}

.popup .popup-text{
    
    display: inline-block;
    
    font-family: 'Makhina';
    font-size: 1.8em;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 1.1em;
    padding: 2%;
}

.blank{
    visibility: hidden;
}

.popup .relative{
    position: relative;
    width: 100%;
    height: 100%;
}

.popup .btn {
    
    font-size: 1.2em;
    padding: 1%;
    text-transform: uppercase;
    
    position: absolute;
    width: 38%;
    bottom: 6%;
    left: 31%;
}

#puzzle-name-section{
    
    font-family: 'Chunk';
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 0;
    left: 2%;
    right: 0;
}

#puzzle-name-section #puzzle-id{
    
    font-size: 3.6em;
    line-height: 1em;
}

#puzzle-name-section #puzzle-name{
    
    font-size: 1.8em;
    padding-left: 2%;
}

#text-area {

    width: 100%;

    height: 11%;

    padding: 2% 2%;
    position: relative;
}

#tile-area {

    width: 100%;

    height: 77%;

    overflow: hidden;

}

.item-tile {

    display: inline-block;

    width: 12.5%;

    height: 100%;

    background-color: white;

    border: 1px solid #888;

    margin-top: 0;

    margin-left: 0;

    position: relative;

    border-bottom: 2px solid #888;

}

.item-tile.next-item {

    border-color: red;

}

#item-area {

    height: 7%;

    width: 100%;

    position: relative;

}

#shots-left-area{
    font-family: 'Makhina';
    font-size: 1.6em;
    text-transform: uppercase;
    
    color: rgb(215, 255, 173);
    height: 4%;
    width: 100%;
    padding-left: 1%;
    vertical-align: top;
}

#shots-left-area #shots-icons{
    display: inline-block;
    width: 75%
}

#shots-icons .dot{
    
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    stroke: rgb(215, 255, 173);
    stroke-width: 10px;

    -webkit-transition: fill 0.2s;
    transition: fill 0.2s;
}

.dot.filled{
    fill: white;
}

.dot.hollow{
    fill: transparent;
}

#buttons-area {

    position: absolute;
    top: 1%;
    right: 2%;
    height: 6%;
    padding-right: 3%;
    width: 100%;
    text-align: right;
}

#buttons-area a {

    display: inline;
    cursor: pointer;

    color: rgb(156, 156, 156);

    font-size: 1.4em;
    
    padding-left: 5%;

    -webkit-transition: color 0.2s;

    transition: color 0.2s;

}

#buttons-area a:active {

    color: white;
}

.puzzle-row {

    width: 100%;

    height: 10%;

    white-space: nowrap;

}

#tiles[skew-x='1'] {

    margin-left: -7%;

}

#tiles[skew-y='1'] {

    margin-top: -7%;

}

.puzzle-tile {

    height: 100%;

    width: 12.5%;

    display: inline-block;

    vertical-align: top;

    position: relative;

    /*
    -webkit-transition: background-color 0.2s;

    transition: background-color 0.2s;
*/
}

.icon text{
  
    font-family: 'Cursive';
    text-transform: uppercase;
}

#tiles {

    height: 100%;

    width: 100%;

}

.puzzle-tile[tile-type='background'] {

    background-color: transparent;

}

/* BOARD */

.puzzle-tile.even[tile-type='board'] {

    background-color: #DDD;

}

.puzzle-tile.odd[tile-type='board'] {

    background-color: #CCC;

}

.puzzle-tile.clickable {

    cursor: pointer;

}

.inner {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

    z-index: 10;
}

.icon {

    position: absolute;

    top: 10%;

    right: 10%;

    bottom: 10%;

    left: 10%;

    text-align: center;

}

/* ICE */

.puzzle-tile[tile-type='ice'][ready='0'] {

    opacity: 0.2;
}

.puzzle-tile[tile-type='ice'] .inner {

    cursor: pointer;
    
}

.puzzle-tile[tile-type='ice'] path {

    stroke-width: 6;

    fill: rgb(63, 163, 177);
    stroke: rgb(198, 241, 247);

    -webkit-transition: fill 0.2s;

    transition: fill 0.2s;

}

/* LIGHTNING */

.puzzle-tile[tile-type='lightning'][ready='0'] {

    opacity: 0.2;

}

.puzzle-tile[tile-type='lightning'] .inner {

    cursor: pointer;

}

.puzzle-tile[tile-type='lightning'] path {

    stroke-width: 6;
    fill: rgb(167, 159, 70);
    stroke: rgb(245, 255, 0);

    -webkit-transition: fill 0.2s;

    transition: fill 0.2s;

}

/* DIAMONDS & BOMBS */

.icon text {

    fill: white;

}

.icon[tile-subtype='normal'] .diamond-icon polygon {

    fill: black;

}

.icon[tile-subtype='ice'] .diamond-icon polygon,

.icon[tile-subtype='ice'] .bomb-icon path {

    fill: rgb(198, 241, 247);
    
    stroke: black;

}

.icon[tile-subtype='lightning'] .diamond-icon polygon,

.icon[tile-subtype='lightning'] .bomb-icon path {

    fill: #FFEA00;

    stroke: black;

}

.icon[tile-subtype='lightning'] .diamond-icon text,
.icon[tile-subtype='lightning'] .bomb-icon text, 
.icon[tile-subtype='ice'] .diamond-icon text,
.icon[tile-subtype='ice'] .bomb-icon text,  
.icon[tile-subtype='fire'] .diamond-icon text,
.icon[tile-subtype='fire'] .bomb-icon text {

    fill: black;
}

.icon[tile-subtype='fire'] .diamond-icon polygon,

.icon[tile-subtype='fire'] .bomb-icon path {

    fill: #F88;
    stroke: black;

}

/* BLOCKS */

.icon[tile-type='block'][tile-subtype='normal'] polygon {

    fill: black;

}

.icon[tile-type='block'][tile-subtype='ice'] polygon {

    fill: rgb(198, 241, 247);
    stroke: black;

}

.icon[tile-type='block'][tile-subtype='fire'] polygon {

    fill: #F88;
    stroke: black;

}

.icon[tile-type='block'][tile-subtype='lightning'] polygon {

    fill: #FFEA00;

    stroke: black;

}

/* MIRRORS */

.icon[tile-type='mirror'] polygon {
    
    stroke-width: 10px;
}

.icon[tile-type='mirror'][tile-subtype='normal'] polygon {
    
    stroke: black;
    fill: black;
}

.icon[tile-type='mirror'][tile-subtype='splitter'] polygon {
    
    stroke: black;
    fill: white;
}

/* POTIONS */

.icon[tile-type='potion'] path{
    
    stroke-width: 7px;
    stroke: #777;
}

.icon[tile-type='potion'] path.top{
    
    fill: white;
}

.icon[tile-type='potion'][tile-subtype='potion'] path.bottom{
    
    fill:rgb(142, 214, 255);
}

.icon[tile-type='potion'][tile-subtype='poison'] path.bottom{
    
    fill: rgb(93, 163, 101);
}

.icon[tile-type='potion'][tile-subtype='poison'] circle{
    
    stroke: rgb(0, 70, 0);
    fill: rgb(41, 246, 41); 
    stroke-width: 3px;
}

/* TELEPORTERS */

.icon[tile-type='teleporter'] .spiral{
    stroke-width: 10px;
    stroke: white;
    visibility: hidden;
}

.icon[tile-type='teleporter'].active .spiral{
    
    visibility: visible;
}

.icon[tile-type='teleporter'] circle{
    stroke-width: 10px;
}

.icon[tile-type='teleporter'] text{
    font-family: cursive;
}

.icon[tile-type='teleporter'] .spinner{
    
    stroke-width: 7px;
}

.icon[tile-type='teleporter'][tile-subtype='t0'] circle{
    fill: red;
    stroke: rgb(136, 21, 21);
}


.icon[tile-type='teleporter'][tile-subtype='t1'] circle{
    fill: rgb(80, 80, 238);
    stroke: rgb(51, 51, 105);
}


.icon[tile-type='teleporter'][tile-subtype='t2'] circle{
    fill: rgb(111, 192, 111);
    stroke: rgb(62, 116, 62);
}


.icon[tile-type='teleporter'][tile-subtype='t3'] circle{
    fill: rgb(211, 211, 108);
    stroke: rgb(87, 90, 23);
}

.icon[tile-type='teleporter'][tile-subtype='t0'] .spinner{
    stroke: rgb(196, 16, 16);
}


.icon[tile-type='teleporter'][tile-subtype='t1'] .spinner{
    stroke: rgb(45, 45, 231);
}


.icon[tile-type='teleporter'][tile-subtype='t2'] .spinner{
    stroke: rgb(59, 148, 59);
}


.icon[tile-type='teleporter'][tile-subtype='t3'] .spinner{
    stroke: rgb(143, 148, 35);
}

