
/* LAYOUT */

.popup{
    
    position: absolute;
    z-index: 1000;
    top: 40%;
    /* bottom: 10em; */
    left: 2%;
    right: 2%;

    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    border: 1px solid #FFF;
    height: 11em;
}

.popup .popup-text{
    
    display: inline-block;
    
    font-family: Chunk;
    font-size: 1.6em;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 2%;
    color: white;
}

.blank{
    visibility: hidden;
}

.popup .relative{
    position: relative;
    width: 100%;
    height: 100%;
}

.popup .btn {
    
    font-size: 1.2em;
    padding: 1%;
    text-transform: uppercase;
    
    position: absolute;
    width: 38%;
    bottom: 6%;
    left: 31%;
}

#puzzle-name-section #puzzle-id{
    
    font-size: 3.6em;
    line-height: 1em;
}

#puzzle-name-section #puzzle-name{
    
    font-size: 1.8em;
    padding-left: 2%;
}

#header-area {

    width: 100%;
    height: 8%;
    padding: 2% 2%;
    position: relative;
}

.puzzle-id{
    
    color: white;
    position: absolute;
    font-size: 1.5em;
    font-family: 'Makhina';
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.46);
    padding: 0em 0.5em;
}

#header-area .puzzle-name{
    
    color: white;
    position: absolute;
    font-size: 2em;
    font-family: 'Chunk';
    top: 20%;
    left: 10%;
    right: 10%;
    text-align: center;
}


#header-area .retry-button{
    
    position: absolute;
    right: 1%;
    top: 35%;
    color: rgb(173, 173, 173);
    font-family: 'Makhina';
    font-size: 1.7em;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    cursor: pointer;
    
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

#header-area .retry-button:hover{
    
    color: white;
}


#tile-area {

    width: 100%;

    height: 70%;

    overflow: hidden;

}

.item-tile {

    display: inline-block;
    width: 12.5%;
    height: 100%;
    background-color: white;
    border: 1px solid #888;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    border-bottom: 2px solid #888;

}

.item-tile.next-item {

    border-color: red;

}

#item-area {

    height: 10%;
    width: 100%;
    position: relative;
}

#item-area .background{
    width: 100%;
    height: 100%;
}

#item-area .background circle{
    
    fill: #AAF;
    opacity: 0.25;
}

#shots-left-area{
    font-family: 'Chunk';
    font-size: 2.4em;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    height: 10%;
    width: 100%;
    text-align: right;
    padding-right: 21%;
}

#shots-left-area .shots-left-value{
    color: greenyellow;
    font-size: 1.5em;
}

.dot.filled{
    fill: white;
}

.dot.hollow{
    fill: transparent;
}

#buttons-area {

    position: absolute;
    top: 1%;
    right: 2%;
    height: 6%;
    padding-right: 3%;
    width: 100%;
    text-align: right;
}

#buttons-area a {

    display: inline;
    cursor: pointer;

    color: rgb(156, 156, 156);

    font-size: 1.7em;
    
    padding-left: 5%;

    -webkit-transition: color 0.2s;

    transition: color 0.2s;
    
    text-decoration: none;

}

#buttons-area a:active {

    color: white;
}

.puzzle-row {

    width: 100%;

    height: 10%;

    white-space: nowrap;

}

#tiles[skew-x='1'] {

    margin-left: -7%;

}

#tiles[skew-y='1'] {

    margin-top: -7%;

}

.puzzle-tile {

    position: absolute;
}

.puzzle-tile .bg{

    x: 2px;
    y: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    fill: transparent;
}
.puzzle-tile[tile-type='board'] .bg{
    stroke-width: 2px;
    stroke: white;
}
.puzzle-tile[tile-type='board'][even=true] .bg{
    fill: rgb(171, 174, 195);
}
.puzzle-tile[tile-type='board'][even=false] .bg{
    fill: rgb(134, 134, 156);
}

.icon text{
  
    font-family: 'Makhina';
    text-transform: uppercase;
}

#tiles {

    height: 100%;
    width: 100%;
    position: relative;
    border: 1% solid white;
}

/* BOARD */

.puzzle-tile.clickable {

    cursor: pointer;
}

/* ICE & LIGHTNING */
.puzzle-tile[tile-type='ice'] .bg,
.puzzle-tile[tile-type='lightning'] .bg{

    -webkit-transition: fill 0.4s;
    transition: fill 0.4s;
}

.puzzle-tile[tile-type='ice'][ready='1']:hover .bg{
    fill: rgba(185, 195, 255, 0.5);
}

.puzzle-tile[tile-type='lightning'][ready='1']:hover .bg{
    fill: rgba(255, 249, 142, 0.5);
}

.puzzle-tile[tile-type='ice'][ready='1'],
.puzzle-tile[tile-type='lightning'][ready='1'] {

    cursor: pointer;   
}

.puzzle-tile[tile-type='ice'] .arrow-in{

    fill: #77E;
    -webkit-transition: fill 0.25s;
    transition: fill 0.25s;
}

.puzzle-tile[tile-type='ice'] .arrow-out{

    stroke-width: 6;
    stroke: #222;
    fill: #222;
}

.puzzle-tile[tile-type='lightning'] .arrow-in{

    fill: #EE7;
    -webkit-transition: fill 0.25s;
    transition: fill 0.25s;
}

.puzzle-tile[tile-type='lightning'] .arrow-out{

    stroke-width: 6;
    stroke: #222;
    fill: #222;
}

.puzzle-tile[tile-type='lightning'][ready='0'] .arrow-in,
.puzzle-tile[tile-type='ice'][ready='0'] .arrow-in{

    fill: transparent;
}

/* DIAMONDS & BOMBS */

.icon text {

    fill: white;

}

.icon .diamond-icon polygon{
    
    stroke: white;
    stroke-width: 8px;
}

.icon[tile-subtype='normal'] .diamond-icon polygon {

    fill: url(#grad_diamond_normal);
}

.icon[tile-subtype='ice'] .diamond-icon polygon,
.icon[tile-subtype='ice'] .bomb-icon path {

    fill: url(#grad_diamond_ice);
}

.icon[tile-subtype='lightning'] .diamond-icon polygon,
.icon[tile-subtype='lightning'] .bomb-icon path {

    fill: url(#grad_diamond_lightning);
}

.icon[tile-subtype='fire'] .diamond-icon polygon,
.icon[tile-subtype='fire'] .bomb-icon path {

    fill: url(#grad_diamond_fire);
}

.icon[tile-subtype='lightning'] .diamond-icon text,
.icon[tile-subtype='lightning'] .bomb-icon text, 
.icon[tile-subtype='ice'] .diamond-icon text,
.icon[tile-subtype='ice'] .bomb-icon text,  
.icon[tile-subtype='fire'] .diamond-icon text,
.icon[tile-subtype='fire'] .bomb-icon text {

    fill: white;
}
/* BLOCKS */

.icon[tile-type='block'][tile-subtype='normal'] polygon {

    fill: black;

}

.icon[tile-type='block'][tile-subtype='ice'] polygon {

    fill: rgb(198, 241, 247);
    stroke: black;

}

.icon[tile-type='block'][tile-subtype='fire'] polygon {

    fill: #F88;
    stroke: black;

}

.icon[tile-type='block'][tile-subtype='lightning'] polygon {

    fill: #FFEA00;

    stroke: black;

}

/* MIRRORS */

.icon[tile-type='mirror'] polygon {
    
    stroke-width: 10px;
}

.icon[tile-type='mirror'][tile-subtype='normal'] polygon {
    
    stroke: black;
    fill: black;
}

.icon[tile-type='mirror'][tile-subtype='splitter'] polygon {
    
    stroke: black;
    fill: white;
}

/* POTIONS */

.icon[tile-type='potion'] path{
    
    stroke-width: 7px;
    stroke: #777;
}

.icon[tile-type='potion'] path.top{
    
    fill: white;
}

.icon[tile-type='potion'][tile-subtype='potion'] path.bottom{
    
    fill:rgb(142, 214, 255);
}

.icon[tile-type='potion'][tile-subtype='poison'] path.bottom{
    
    fill: rgb(93, 163, 101);
}

.icon[tile-type='potion'][tile-subtype='poison'] circle{
    
    stroke: rgb(0, 70, 0);
    fill: rgb(41, 246, 41); 
    stroke-width: 3px;
}

/* TELEPORTERS */

.icon[tile-type='teleporter'] .spiral{
    stroke-width: 10px;
    stroke: white;
    visibility: hidden;
}

.icon[tile-type='teleporter'].active .spiral{
    
    visibility: visible;
}

.icon[tile-type='teleporter'] circle{
    stroke-width: 10px;
}

.icon[tile-type='teleporter'] text{
    font-family: cursive;
}

.icon[tile-type='teleporter'] .spinner{
    
    stroke-width: 7px;
}

.icon[tile-type='teleporter'][tile-subtype='t0'] circle{
    fill: red;
    stroke: rgb(136, 21, 21);
}


.icon[tile-type='teleporter'][tile-subtype='t1'] circle{
    fill: rgb(80, 80, 238);
    stroke: rgb(51, 51, 105);
}


.icon[tile-type='teleporter'][tile-subtype='t2'] circle{
    fill: rgb(111, 192, 111);
    stroke: rgb(62, 116, 62);
}


.icon[tile-type='teleporter'][tile-subtype='t3'] circle{
    fill: rgb(211, 211, 108);
    stroke: rgb(87, 90, 23);
}

.icon[tile-type='teleporter'][tile-subtype='t0'] .spinner{
    stroke: rgb(196, 16, 16);
}


.icon[tile-type='teleporter'][tile-subtype='t1'] .spinner{
    stroke: rgb(45, 45, 231);
}


.icon[tile-type='teleporter'][tile-subtype='t2'] .spinner{
    stroke: rgb(59, 148, 59);
}


.icon[tile-type='teleporter'][tile-subtype='t3'] .spinner{
    stroke: rgb(143, 148, 35);
}

