html, body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #373746;
}

#main-content{
	position: relative;
	margin: 0 auto;
    
    height: 100%;
    width: 100%;
    margin: 0;
    
    background-color: #373746;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.scene{
	width: 100%;
	height: 100%;
}

.hidden{
    display: none;
}


@font-face {
    font-family: 'Building';
    src: url('fonts/Building_Typeface.ttf');
}

@font-face {
    font-family: 'Makhina';
    src: url('fonts/makhina.ttf');
}

@font-face {
    font-family: 'Chunk';
    src: url('fonts/Chunkfive.otf');
}

#change-link {
    
position: absolute;
right: 1vh;
top: 1vh;
font-size: 4vh;
color: rgb(151, 161, 194);
}