html, body{
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #446;
}

#main-content{
	position: relative;
	margin: 0 auto;
    
    height: 100%;
    width: 100%;
    margin: 0;
    
    background-color: #446;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    overflow: hidden;
    
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#446+1,000000+100 */
    background: #446; /* Old browsers */
    background: -moz-linear-gradient(top,  #446 1%, #272740 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#446), color-stop(100%,#272740)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #446 1%,#272740 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #446 1%,#272740 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #446 1%,#272740 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #446 1%,#272740 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446', endColorstr='#272740',GradientType=0 ); /* IE6-9 */

}

.scene{
    position: absolute;
	width: 100%;
	height: 100%;
    display: none;
}

#hidden{
    display: none;
}


@font-face {
    font-family: 'Building';
    src: url('fonts/Building_Typeface.ttf');
}

@font-face {
    font-family: 'Makhina';
    src: url('fonts/makhina.ttf');
}

@font-face {
    font-family: 'Chunk';
    src: url('fonts/Chunkfive.otf');
}

#change-link {
    
    position: absolute;
    right: 1vh;
    top: 1vh;
    font-size: 4vh;
    color: rgb(151, 161, 194);
}

#size-setter{
   height: 100%;
    position: relative;
    margin: 0 auto;
}

.back-button{
    
    position: absolute;
    left: 2%;
    top: 1%;
    height: 7%;
    width: 12%;
    opacity: 0.4;
    cursor: pointer;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    z-index: 15;
}

.back-button:hover{
    opacity: 1;
}

.back-button:hover polygon{
    fill: black;
}

.back-button polygon{

    fill: transparent;
    stroke: #FFF;
    stroke-width: 3;
    -webkit-transition: fill 0.25s; /* Safari */
    transition: fill 0.25s;
}